@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-17 {
    font-size: 17px;
    color: #414141;
}

.font-14 {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.75;
    color: #6c6c6c;
}

.font-16 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #6c6c6c;
}

.font-lato {
    font-family: Lato;
}

.font-wt-b {
    font-weight: bold;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 16px 49px 15px 51px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.primary-btn {
    background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
    color: #ffffff;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid grey;
    color: #414141;
}

.secondary-btn:hover {
    background-color: black;
    color: #ffffff;
}

.tertiary-btn {
    margin-top: 30px;
    background-color: #ffffff;
    color: #414141;
}

/* ---------Header Section --------- */
nav>a {
    display: inline-block;
    padding-top: 41px;
    object-fit: contain;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

/* ---------Hero Section --------- */
.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(https://i.ibb.co/2jYL1rf/bitmap1.png);
    min-height: 723px;
    background-size: cover;
}

.hero_wrapper h1,
.get-started__wrapper h1 {
    font-size: 55px;
    line-height: 1.09;
    color: #ffffff;
}

.hero_wrapper p,
.get-started__wrapper p {
    margin-top: 18px;
    line-height: 1.78;
    font-weight: 400;
    color: #ffffff;
}

form {
    margin-top: 22px;
    display: flex;
}

.hero__serach-bar {
    width: 375px;
    margin-right: 20px;
    opacity: 90%;
    background-color: #cdcbcb ;
    border-radius: 4px;
    outline: none;
    border: none;
}
.hero__serach-bar:placeholder-shown,[type='text']{
    padding-left: 20px;
    font-size: 18px;
}
.hero__serach-bar::placeholder {
    font-weight: bold;
    font-family: Lato;
    font-size: 16px;
    color: #ffffff;   
}
/* ---------Landing-page Section --------- */
.landing-page-wrapper {
    padding-top: 110px;
}

.landing-page h2 {
    font-size: 30px;
    line-height: 1.42;
    color: #414141;
}

.landing-page h4 {
    margin-top: 29px;
}

.landing-page p {
    margin-top: 14px;
}

.group-img {
    margin-top: 27px;
    object-fit: contain;
}

hr {
    margin-top: 113px;
    border: solid 1px #e2e2e2;
}

/* ---------Start Marketing Section --------- */
.marketing__wrapper {
    padding: 86px 0 132px;
}

.start-marketing img {
    object-fit: contain;
}

.start-marketing h4 {
    margin-top: 20px;
}

.start-marketing p {
    margin-top: 14px;
}

/* ---------Journey Section --------- */
.journey {
    background-color: #f6fafd;
}

.journey__content {
    padding-top: 34px;
}

.journey__content img {
    margin-right: 53px;
    object-fit: contain;
}

.journey__content p {
    margin-top: 173px;
    font-size: 20px;
    line-height: 1.67;
    color: #414141;
}

.journey__content h2 {
    font-size: 24px;
    margin-top: 50px;
}

.journey__content h4 {
    font-size: 20px;
}

/* ---------Plan Section --------- */
.plans__content {
    padding-top: 117px;
}

.plans__content h2 {
    font-size: 36px;
    line-height: 1.42;
    color: #414141;
}

.plans__content p {
    margin-top: 17px;
}

.plan__cards {
    padding-top: 66px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 371px;
    margin-top: 66px;
    padding: 52px 44px 67px 45px;
}

.card__free {
    background-color: #f6fafd;
}
.card button{
    margin-top: 24px;

}

.card h4,
.card span {
    color: #414141;
}

.card h6 {
    margin-top: 27px;
    font-size: 72px;
    color: #fe4fa7;
    display: inline-block;
}

.card p {
    margin: 27px 0 0;
}

/* ---------Get-started Section --------- */
.get-started {
    padding:130px;
    margin-top: 150px;
    background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
}

/* ---------Footer Section --------- */
footer {
    padding-top: 92px;
    display: flex;
}

ul li {
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav>.footer__navbar {
    margin-top: 33px;
}

.footer__navbar>li:nth-child(2) a {
    color: #FF78C4;
}

.footer__icons {
    width: 200px;
    margin: 30px auto 0;
}

.footer__icons img {
    width: 20px;
    height: 20px;
}

.copyright {
    margin: 30px 0 76px;
    width: 115%;
    position: relative;
    right: 30px;
}

.copyright>li {
    color: #464646;
}
